* {
	font-family:'Anton', sans-serif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

.menu {
	background-color: #f2ed7b;
	display: flex;
	flex-direction: row;
	padding: 15px 0px;
}

h2 {
	margin: 0px 15px;
	color: #32a4a8;
	flex: 0 1 auto;
}

.title {
	flex: 1 1 50%;
	text-align: right;
}

.player-item, .reset {
	display: inline-block;
}

canvas {
	margin: 0px;
	padding: 0px;
}